/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;


}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
img{
  width: 100%;
}
section{
  padding: 60px 0px;
}
.section__title{
  color:var(--primary-color);
  font-weight: 600;
}
@media only screen and (max-width:760px){
section{
  padding:40px 0px;
}
}

.header{
  background-color: black;
  height:70px;
  line-height: 70px;
}

.nav__wrapper{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  column-gap: 8px; 
}

.logo img{
  width: 1.5rem ;
  height: 1.5rem ;
}

.logo h1{
  font-size: 1.2rem;
  font-weight: 700;
  color:white;
}


 

.footer{
  padding-top:60px;
  padding-bottom: 30px;
  background:black;
}
.footer__text{
  line-height: 30px;
  color:#fff;
}
.footer__quick-links ul li{
background: transparent !important;
}
.footer__quick-links ul li a{
 color: #fff; 
text-decoration: none;
}
.quick__links-title{
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.1rem;
}
.footer__contact li span,.footer__contact li p{
  color:#fff;
}
.footer__contact{
  font-size:1.2rem;
}
.footer__contact li p{
font-size: .9rem;
}
.footer__copyright{
  color:#fff;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}

.hero__section{
  background: black;
}
.hero__content h2{
  color:white;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}
.hero__content p{
  color:white;
  line-height: 20px;
}
.buy__btn{
  border:none;
  outline:none;
  padding:8px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color:#fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
}
.buy__btn:hover{
  background: var(--primary-color);
}
.hero__content{
  padding: 45px;
}
 .services{
  padding: auto;
 }
.services__item{
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.services__item span i{
font-size: 2.2rem;
background: var(--primary-color);
padding: 10px;
border-radius: 50px;
color:#fff;
font-weight: 100 !important;
}

.services__item h3{
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.services__item p{
  font-size: 0.9rem;
  margin-top: 5px;
  color:#222;
}
@media only screen and (max-width:992px){
  .services__item span i{
      font-size: 1.8rem;
      padding: 5px;
  }
  .services__item h3{
      font-size: 1rem;
  }
  .services__item{
      padding:  10px;
  }
}

@media only screen and (max-width:760px){
  .hero__content h2{
      font-size: 1.6rem;
  }
  .hero__content p{
      font-size: 0.9rem;
  }
  .buy__btn a{
      font-size: 0.9rem;   
  }
  .section__title{
      font-size: 1.4rem;
  }
}
@media only screen and (max-width:576px){
  .hero__content h2{
      padding-top: 0;
      margin-bottom: 40px;
  }
}
/* Float four columns side by side */
.social_column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.social_row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 760px) {
  .social_column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  
  }
}

/* Style the counter cards */
.social_column .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
}



.comment_column {
  float: left;
  width: 30%;

  padding: 0 5px;
}

.social_row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 760px) {
  .comment_column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  
  }
}

/* Style the counter cards */
.comment_column .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: white;
  height: 200px;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-radius: 30px;
}


/* .road_map_column {
  float: left;
  width: 25%;
  padding: 0 5px;
} */

.road_map_row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .road_map_column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  
  }
}

/* Style the counter cards */
 .road_map_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 200px;
  width: 210px;
  text-align: center;
  background-color: black;
  color: white;

  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-radius: 50%;
}

 .road_map_card h5{
  color:white;
  font-weight: 500;
  margin: 10px 0px;
}
 .road_map_card p{
  color:white;
  line-height: 20px;
}